/* --- modal --- */

.reminder {
    cursor:pointer;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    max-height: 3rem;
}

.reminder:open {
    /* Set a large enough max-height to cover all content when open */
    max-height: 25rem;
    border-bottom: 1px solid #e3e3e3;
}

.reminder p:hover{
    cursor:text;
}

/* --- prayer input --- */

.customPrayer form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#customPrayerInput{
    font-family: inherit;
    border-radius: var(--radius-md);
    border: 2px solid var(--color-accent);
    padding: var(--space-xxs);
    font-size: var(--font-size-md);
    margin: 10px 0;
    transition: var(--transition-fast);
    padding: var(--space-xxs) var(--space-md);
    padding: var(--space-xs) var(--space-xl);
}

#customPrayerInput:focus{
    outline: none;
    box-shadow: var(--shadow-medium);
}