.explanationSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* --- buttons --- */

.navigationSection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
}

.navigationSection button{
    max-height: 34.66px;
}