.title {
    font-size: var(--font-size-lg);
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.subtitle{
    font-style: italic;
    font-weight: 600;
}

/* --- buttons --- */

.navigationSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}