.explanationSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* --- buttons --- */

.navigationSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}