.anchor{
    color: inherit;
    text-decoration: none;
    transition: var(--transition-fast);
}

.anchor:hover{
    text-decoration: underline;
}

.anchor:active{
    color: var(--color-accent)
}

.active{
    color: var(--color-accent);
    font-weight: 700;
    text-decoration: underline;
}