.text{
    font-size: var(--font-size-lg);
    text-align: center;
}

.navBar {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.navBar ul {
    display: flex;
    list-style: none;
    gap: var(--space-sm);
}

.navLink {
    border-radius: var(--radius-md);
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}